{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"plugin:jest/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"react-hooks",
		"@typescript-eslint",
		"typescript",
		"jest"
	],
	"rules": {
		// Code Style
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"max-len": [
			"warn",
			{
				"code": 80,
				"ignoreComments": true
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"warn",
			"single"
		],
		"semi": [
			"warn",
			"always"
		],
		"comma-dangle": [
			"error",
			"always-multiline"
		],
		"eol-last": [
			"error",
			"always"
		],
		"arrow-parens": [
			"warn",
			"as-needed"
		],
		"no-console": [
			"warn",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		],
		"typescript/member-delimiter-style": "error",

		// Import / Export style
		"import/first": "error",
		"import/exports-last": "error",
		"import/no-duplicates": "error",
		"import/no-cycle": "error",
		"import/order": "warn",
		"import/newline-after-import": "warn",

		// Code Quality
		"no-fallthrough": [
			"error",
			{
				"commentPattern": "break[\\s\\w]*omitted"
			}
		],
		// NB: need to turn it off to enable TS rule
		"no-unused-vars": 0,
		// Turn off, otherwise it's false positive for regexp
		"no-useless-escape": 0,

		// React
		"react/prop-types": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "error",

		// Typescript
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/explicit-function-return-type": [
			"warn",
			{
				"allowExpressions": true
			}
		]
	}
}
